
.carousel-poster{
    margin-top: -60px;
    display: flex;
}
.navbar-poster{
    z-index: 999;
    background: none;
    border: 0;
    border-radius: 0;
    font-size: large;
}
.title-carousel{
    color:white;
    font-size: 50px;
    animation-duration: 1s;
    animation-name: slidein;
    margin-bottom: 50px;
}
.title-carousel:hover{
    color:#F59E0B;
}
.caption-poster{
}
.caption-rect{
    height: 150px;
    width : 32%;
    background: #000000;
    opacity: 0.8;
    border-radius: 2px;
    margin-inline: 5px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    transform: scale(1);
    transition: transform 330ms ease-in-out;
}
.caption-rect:hover{
    opacity: 1;
    transition: opacity 330ms ease-in-out;
}

.caption-rect:hover .captionTitle {
    /*do anything with this child*/
    transform: scale(1.1)!important;
    transition: transform 330ms ease-in-out;
}

.caption-rect:hover .captionIcon {
    /*do anything with this child*/
    transform: scale(1.1)!important;
    transition: transform 330ms ease-in-out;
}

.captionIcon{
    color:#F59E0B;
    font-size: 50px!important;
    margin-right: 25px;
}
.captionTitle{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    line-height: 30px;
}
.link-rect{
    color:#F59E0B;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    padding: 0;
    margin-top: 0;
}
.link-rect:hover{
    color:#F59E0B;
}
.description-carousel{
    color: white!important;
    animation: slidein;
    animation-duration: 2s;
}


@keyframes slidein {
    from {
        opacity: 0;
        padding-top: 10px;
    }

    to {
        opacity: 1;
        padding-top: 0;
    }
}
