.panier{
    margin:40px;
}
.content-panier{
    border: 1px solid #CBD5E1;
    padding: 20px;
    margin: 20px;
}
.btn-achat{
    background:#20384D;
    border: #20384D;
    color:white;
    font-size: 15px;
    border-radius: 2px;
}