
.deleteListIcon{
    color: rgb(151, 5, 5);
    cursor: pointer;
    
 }
 .userList{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
 }
 .annulerButton{
   background-color: gray;
   border: none;
   color: white;
   font-size: 15px;
   font-weight: 400;
}
.supprimerButton{
   background-color: rgb(143, 4, 4);
   border: none;
   color: white;
   font-size: 15px;
   font-weight: 400;
}
 