.profile_page{
    background-color: white;
    margin: 20px;
   
}
.btn-upd{
    background-color:#20384D;
    color: white;
    border-color: #20384D;
}
.profil{
    display: flex;
    flex-wrap: wrap;
}