.profile_page{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    background-color: white;
    flex: 1;
    
}
.btn-upd{
    background-color: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
}
.profil{
    display: flex;
    flex-wrap: wrap;
}