.btn-conx{
    background-color: #20384D;
    color: white;
    border-color: #20384D;
    border-radius: 2px;

}
.btn-conx:hover{
    background-color: #20384D;
}
.labelForm{
    font-style: normal;
font-weight: 500;
font-size: 16px;
}
.connexion{
    flex: 1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    margin-right: 450px;
    margin-left: 450px;
    margin-top: 40px;
    background-color: white;
}

.btn-conx{
    background-color: #20384D;
    color: white;
    border-color: #20384D;
    border-radius: 2px;
}
.connexion:hover{
    display: block;
}
.linkM{
    color:#20384D;
font-style: normal;
font-weight: 400;
font-size: 14px;
text-align: end;
}
