
.btn-inscr{
  background-color: #20384D;
    color: white;
    border-color:#20384D;
    border-radius: 2px;
}
.btn-inscr:hover{
    background-color: #20384D;

}
  
.link{
color:#20384D;
font-style: normal;
font-weight: 400;
font-size: 14px;
}