.inscrire{
    flex: 1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    margin-right: 500px;
    margin-left: 500px;
    background-color: white;
    margin-top: 60px; 
}
.btn-inscr{
    background-color: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
}
.inscrire:hover{
    display: block;
}